<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
         <!-- <a href="#" class="list-group-item clearfix"  *ngFor="let Recipe of recipe">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{Recipe.name}}</h4>
                <p class="list-group-item-text">{{Recipe.desc}}</p>
            </div>
            <span class="pull-right">
                <img [src]="Recipe.imagePath" alt="{{Recipe.name}}" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>  -->

         <recipe-item *ngFor="let RecipeEl of recipe" [recipe]="RecipeEl" (recipeSelected)="onRecipeSelected(RecipeEl)" ></recipe-item>    
    </div>
    <!-- <recipe-item></recipe-item> -->
</div>